* {
	font-family: 'Fjalla One';
	font-weight: 400;
	@include unselectable;
}

body {
	//overflow: hidden;
}

#content {
	width: 100%;
	height: 100vh;
	position: relative;
	
	/* Slider frame */
	.slider-frame {
		@extend %fullsize;
		position: absolute;
		overflow: hidden;

		&--slides {
			@extend %fullsize;
			position: relative;
			z-index: 1;
			opacity: 0;

			.slider {
				top: 15vh;
				left: 15vh;
				right: 15vh;
				bottom: 15vh;
				position: absolute;
				//overflow: hidden;

				&.active-slider {
					z-index: 5;
				}

				&--image {
					top: 0vh;
					left: 0vh;
					right: 0vh;
					bottom: 0vh;
					overflow: hidden;
					position: absolute;

					img {
						
					}
				}

				&--shadow {
					width: 100%;
					height: 100px;
					background: url(../images/slider-shadow.png) repeat-x;
					position: absolute;
					top: 0; left: 0;
					z-index: 2;
					display: none;
					opacity: 0;
				}

			}
		}

	}

	/* Slider Captions */
	.slider-captions {
		height: 100%;
		position: relative;
		z-index: 100;

		.caption-item {
			min-width: 300px;
			display: inline-block;
			position: absolute;
			cursor: pointer;
			left: 8vh;

			// * { @extend %expo; }

			&.hiden-caption {
				display: none;
			}

			&:hover {
				.text-group .text-wrapper .black {
					color: darken(white, 80%);
				}
			}

			.text-group {
				width: 100%;
				position: absolute;

				&.black { z-index: 3; }
				&.gray { z-index: 2; }
				&.outline { z-index: 1; }

				.text-wrapper {
					width: 0%; // 100%
					overflow: hidden;

					&.show { width: 100% }

				}
				
				p {
					min-width: 300px;
					display: table;
					@extend %expo;

					&.black {
						color: black;
					}

					&.gray {
						color: darken(white, 10%);
					}

					&.outline {
						color: transparent;
						-webkit-text-stroke: darken(white, 80%) 1px;
					}

				}

				.subtitle {
					font-family: 'Playfair Display';
					font-weight: 700;
					font-size: 60px;
					line-height: 70px;
				}
				.title {
					font-size: 60px;
					line-height: 54px;
				}
			}
		}

	}
	

	/* Slider control */
	.slider-control {
		@extend %widthauto;
		position: absolute;
		top: 50%; right: 6.5vh;
		z-index: 200;
		opacity: 0;

		* { @extend %expo; }
		
		.btn {
			width: 24px;
			height: 24px;
			display: block;
			position: relative;
			cursor: pointer;

			.line {
				width: 100%;
				height: 1px;
				background: darken(white, 20%);
				top: 50%; left: 0;
				margin-top: -0.5px;

				&:after {
					content: "";
					width: 0%;
					height: 100%;
					background: black;
					display: block;
					@extend %expo;
				}
			}

			&:hover .line:after,
			&.active .line:after {
				width: 100%;
			}

		}
	}

}