html {
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
    background: darken(white, 10%);
    text-shadow: none;
}

::selection {
    background: darken(white, 10%);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; } 
a { text-decoration: none; @extend %expo; }
a.full { width: 100%; height: 100%; display: block; }
ul, li { list-style-type: none; }

*, *:before, *:after { }

.show { opacity: 1; }
.hide { opacity: 0; }

body {
    position: relative;
    overflow-x: hidden;
}